.bgco-\#3490dc {
  background-color: #3490dc;
}
.cus-pointer {
  cursor: pointer;
}
.co-white {
  color: white;
}
@media (min-width:576px) {
  .sm\:co-red {
    color: red;
  }
}
@media (min-width:768px) {
  .md\:co-yellow {
    color: yellow;
  }
}
@media (min-width:992px) {
  .lg\:co-green {
    color: green;
  }
}
.fow-bold {
  font-weight: bold;
}
.pt-0\.5rem {
  padding-top: 0.5rem;
}
.pb-0\.5rem {
  padding-bottom: 0.5rem;
}
.pl-1rem {
  padding-left: 1rem;
}
.pr-1rem {
  padding-right: 1rem;
}
.bora-0\.25rem {
  border-radius: 0.25rem;
}
.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.bg-\#f1f5f8 {
  background: #f1f5f8;
}
.co-\#606f7b {
  color: #606f7b;
}
.txta-center {
  text-align: center;
}
.bg-\#dae1e7 {
  background: #dae1e7;
}
.m-0\.5rem {
  margin: 0.5rem;
}